doctype html
html(lang='de')
    head
        title Podcast Uploader | Equippers Berlin
        meta(name='description' content='Podcast Uploader for Equippers Berlin')
        meta(name='author' conter='Jonathan Stichbury')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width')
        link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.0/css/jasny-bootstrap.min.css')
        link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css')
        link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900')
    body
        style.
            body {
                padding-top: 40px;
                padding-bottom: 40px;
                background-color: #eee;
            }
            #add {
                padding-top: 2em;
                display: none;
                visibility: hidden;
            }
            #add:target {
                display: block;
                visibility: visible;
            }
            #output {
                font-weight: 600;
                color: red;
                text-align: center;
            }
            #edit {
                display: none;
                visibility: hidden;
            }
            #edit:target {
                display: block;
                visibility: visible;
            }
            table input {
                width: 100%;
            }
        block body