extends base.pug

block body
    style.
        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type='name'] {
        
        }
        .form-signin input[type='password'] {
            margin-top: 3px;
            margin-bottom: 10px;
        }

    div(class='container')
        form(class='form-signin' role='form' action='./login' method='POST')
            h2(class='form-signin-heading').
                Podcast Uploader
            input(type='name' name='name' class='form-control' placeholder='Name' required autofocus)
            input(type='password' name='password' class='form-control' placeholder='Password' required)
            button(class='btn btn-lg btn-primary btn-block' type='submit').
                Sign in
            if error
                p ERROR: #{error}
            p(style='text-align:center;padding-top:2em;')
                | &copy; 2014 Equippers Berlin - All rights reserved.
                |
                | Made with &hearts; by 
                a(href='https://simonhaenisch.com' target='_blank' style='color:black;') Simon Hänisch