extends base.pug
block body
    div.container
        div.header
            ul.nav.nav-pills.pull-right
                li
                  a(href="/logout") Logout
            h3 Equippers Podcast
        hr
        div#add
            form#add-episode.form-horizontal(role='form', enctype='multipart/form-data', action='/api/uploadaudio', method='post')
              h4 Add Episode
              div.form-group
                div.col-sm-12
                  div.fileinput.fileinput-new(data-provides='fileinput', style='margin-bottom:0em;')
                    div.input-group
                      div.form-control(data-trigger='fileinput')
                        i.glyphicon.glyphicon-file.fileinput-exists
                        span.fileinput-filename
                      |  
                      span.input-group-addon.btn.btn-default.btn-file
                        span.fileinput-new Select file
                        span.fileinput-exists Change
                        input(type='file', name='file')
                      |  
                      a.input-group-addon.btn.btn-default.fileinput-exists(href='#', data-dismiss='fileinput') Remove
              div.form-group
                div.col-sm-3(style='margin-bottom: 1.5em;')
                  input.form-control(type='text', name='date', placeholder='Date')
                div.col-sm-3(style='margin-bottom: 1.5em;')
                  input.form-control(type='text', name='title', placeholder='Title')
                div.col-sm-3(style='margin-bottom: 1.5em;')
                  input.form-control(type='text', name='speaker', placeholder='Speaker')
                div.col-sm-3(style='margin-bottom: 1.5em;')
                  input.form-control(type='text', name='duration', placeholder='Duration')
              div.form-group(style='margin-top:-1em;')
                div.col-sm-3(style='margin-bottom: 2.5em;')
                  button#add-submit.btn.btn-success(type='submit', style='width:100%;') Upload
                div.col-sm-9(style='margin-bottom: 1.5em;')
                  div.progress.progress-striped.active(style='margin-top:0.5em;display:none;')
                    div.progress-bar(role='progressbar', style='width: 0%;') 0%
              |  
              input(type='hidden', name='hash', value='pfgdhwpzpjesx7wl')
            p#output &nbsp;
            hr
            audio#player.hidden(src='') Your browser does not support HTML5 audio.
        a(href="#add") New Episode
        table.table.table-hover
            thead
                tr
                    th Date
                    th Title
                    th Speaker
                    th Duration
                    th
            tbody
        hr
        p(style="text-align:center;padding-top:2em;")
        | &copy; 2014 Equippers Berlin - All rights reserved. | Made with &hearts; by 
        a(href="http://simonhaenisch.com" target="_blank" style="color:black;") Simon Hänisch
        | .

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.0/js/jasny-bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.09/jquery.form.js')
    script(src='../uploader.js?v=1.2')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js')